<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.widgetkit-extension</string>
		<key>NSExtensionDescription</key>
		<string>Displays the daily poem directly on your home screen.</string>
		<key>supportedFamilies</key>
		<array>
			<string>systemSmall</string>
			<string>systemMedium</string>
			<string>systemLarge</string>
			<string>systemExtraLarge</string>
		</array>
	</dict>
</dict>
</plist>
